

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
#appl{
    border: 2px solid rgb(39, 167, 50);
    border-radius: 15px;
    padding: 25px;
}
.LoanApp{
    display: flex;
}
.text{
    width: 240px;
}


.frm{
    background-color: rgb(240, 239, 235);
    border: none;
    border-radius: 15px;
    /* width: 230px; */
    /* height: 270px; */
    margin-left: 20px;
}
.frm1{
    margin:15px 10px 15px 10px;  
    
}
.btn{
    margin: 12px;
    width: 200px;
    background-color: white;
    border:none;
    border-radius: 15px;
    height: 30px  
}

.btn1{
    width: 150px;
    height: 35px;
    margin-top: 20px;
    background-color: green;
    border: 3px solid black;
    border-radius: 10px;

}